@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Madimi+One&family=Satisfy");
@import url("https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@300;400&display=swap&family=Madimi+One&family=Satisfy");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: "Poppins", sans-serif; */
/* font-family: "Playfair Display", serif; */
/* font-family: "Sixtyfour", sans-serif; */

/* navbar */
.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px rgb(232, 227, 227);
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: solid rgb(243, 236, 236) !important;
}

.nav-link {
  font-weight: 300 !important;
}

.active {
  border-bottom: 2px solid black;
}

.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px;
}

.search-form {
  margin-right: 10px;
  margin-top: 4px;
}
.search-form input {
  border: none;
  border-radius: 0;
}
.search-form button {
  background-color: #000000;
  border-radius: 0;
  color: white;
}

/*==footer==*/

.footer a {
  text-decoration: none;
  color: white;
  padding: 6px;
  font-size: small;
}

.footer a:hover {
  color: #ffefba;
  border-bottom: 1px solid #f7f3e9;
}

/* logo */
.app {
  margin-right: -4px;
}
.head {
  font-family: "Sixtyfour", sans-serif;
}

/* ======= page not found css ======= */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}
.pnf-btn:hover {
  background-color: black;
  color: white;
}
